
/* 
    @ website : Viva
    @ version : 1.0
    @ Deployment date : 22/03/2021
    @ Team : Front end develop Euroland
*/

//----------class for text color

$n-blue:#0193CF;
$n-yellow:#C2D72F;
$n-green:#2CD1A0;

$n-black:#222222;
$n-dark:#39474D;
$n-smoke:#FAFAFA;
$n-white:#FFFFFF;


.n-blue {color: $n-blue};
.n-yellow {color: $n-yellow};
.n-green {color: $n-green};
.n-black {color: $n-black};
.n-dark {color: $n-dark};
.n-smoke {color: $n-smoke};
.n-white {color: $n-white};