@font-face {
    font-family: 'SourceHanSansCN';
    src: url('../../assets/fonts/SourceHanSansCNRegular/SourceHanSansCNRegular.ttf');
    src: url('../../assets/fonts/SourceHanSansCNRegular/SourceHanSansCNRegular.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/SourceHanSansCNRegular/SourceHanSansCNRegular.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/arial.ttf');
    src: url('../../assets/fonts/EN/arial.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/arial.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/arialbd.ttf');
    src: url('../../assets/fonts/EN/arialbd.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/arialbd.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/arialbi.ttf');
    src: url('../../assets/fonts/EN/arialbi.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/arialbi.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/arialbi.ttf');
    src: url('../../assets/fonts/EN/arialbi.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/arialbi.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/ariali.ttf');
    src: url('../../assets/fonts/EN/ariali.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/ariali.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'VivaEN';
    src: url('../../assets/fonts/EN/ariblk.ttf');
    src: url('../../assets/fonts/EN/ariblk.ttf?#iefix'), /* IE4+ */
         url('../../assets/fonts/EN/ariblk.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: bold;
}