.mb-64 {
    margin-bottom: 64px;
}
.mt-64 {
    margin-top: 64px;
}
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-120 {
    margin-top: 120px;
}
.mbt-120 {
    margin-bottom: 120px;
}
