/* Responsive cho 3 màn hình chính*/
@mixin mobile-samil { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
} 
}

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
} 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
} 
}  

@mixin desktop { @media (min-width: #{$desktop-width}) {     
    @content;  
} 
}

@mixin display-limit-2($line-clamp) {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $line-clamp;
	height: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
@mixin cus-border($border) {
	border: 1px solid #d8d8d8;
	border-radius: $border;
}
